.asideProfile {
  border-radius: 5px;
  margin-left: 15px;
  height: calc(100% - 17px);
  width: 30%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  background: white;
  margin-bottom: 10px;
}

.asideProfile .borderBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

.borderBox h2 {
  font-size: 15px;
}

.borderBox button {
  padding: 5px 8px;
  border: none;
  background: none;
}

.asideProfile .boxBtn {
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.asideProfile .boxBtn button {
  padding: 10px;
  margin: 5px;
  font-weight: 700;
  border: 1px solid white;
  background: none;
  border-radius: 5px;
  text-align: center;
  width: 75px;
  transition: all 0.3s linear;
  position: relative;
}

.asideProfile button:hover {
  color: #9d80c499;
}

.asideProfile ul {
  padding: 0;
}

.asideProfile ul > li {
  list-style: none;
  display: flex;
  border-radius: 5px;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.asideProfile ul > li > div:first-child {
  display: flex;
  align-items: center;
}

.asideProfile ul > li > div > div:first-child {
  background: white;
  padding: 5px;
  border-radius: 7px;
  width: 50px;
  text-align: center;
  margin-right: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.asideProfile ul > li > div:nth-child(2) {
  color: white;
  margin-right: 10px;
}

.asideProfile .activeFilter {
  color: #2a3368;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.hisBox {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 535px;
  justify-content: space-between;
}
